@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}

.dashboard_appilix{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #F4F5F1;
    display: flex;
}


/*------------------ Side Menubar ----------------------*/
.dashboard_appilix .sidebar{
    min-width: 230px;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------------------- Appilix Brand ------------------*/
.dashboard_appilix .sidebar .header{
    width: 100%;
    padding: 10px 10px 1px 10px;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    border-top: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    
    
}

.dashboard_appilix .sidebar .header .brand{
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    padding: 12px;
    display: flex;
    align-items: center;
}

.dashboard_appilix .sidebar .header .brand .brand_logo{
    display: flex;  
    align-items: center;
    gap: 10px; 
}

.dashboard_appilix .sidebar .header .brand .brand_logo .logo{
    width: 31px;
    height: 28px;
    background: url(Images/Group\ \(1\).svg) no-repeat center;
}

.dashboard_appilix .sidebar .header .brand .brand_logo .name{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.dashboard_appilix .sidebar .header .brand .brand_logo .name p{
    font-size: 12px;
    font-weight: 400;
    color: #797979;
}

.dashboard_appilix .sidebar .header .brand .brand_logo .name h2{
    font-size: 14px;
    font-weight: 500;
    color: #272727;
}

.dashboard_appilix .sidebar .header .brand .icon{
    height: 16px;
    width: 16px;
    background: url(Images/Vector\ \(1\).svg) no-repeat center;
    cursor: pointer;
}


.dashboard_appilix .sidebar .header .line,
.dashboard_appilix .sidebar .manu .top_menu .line{
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
    margin-top: 10px;
    
}


/*----------------- Sidebar Menu ---------------------*/
.dashboard_appilix .sidebar .manu{
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard_appilix .sidebar .manu .top_menu,
.dashboard_appilix .sidebar .manu .bottom_menu {
    padding: 10px;
    background-color: white;
    border: 1px solid #E8E8E8;
    border-top: none;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    
}

.dashboard_appilix .sidebar .manu .top_menu .menu_card, 
.dashboard_appilix .sidebar .manu .bottom_menu .menu_card{
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    gap: 8px;
    cursor: pointer;
}

.dashboard_appilix .sidebar .manu .top_menu .menu_card:hover, 
.dashboard_appilix .sidebar .manu .bottom_menu .menu_card:hover{
    box-shadow: 0 1px 1px 1px #E8E8E8;
}

.dashboard_appilix .sidebar .manu .top_menu .menu_card .card_logo, 
.dashboard_appilix .sidebar .manu .bottom_menu .menu_card .card_logo{
    height: 16px;
    width: 16px; 
}

.dashboard_appilix .sidebar .manu .top_menu .menu_card h3, 
.dashboard_appilix .sidebar .manu .bottom_menu .menu_card h3{
    font-size: 14px;
    font-weight: 500;
    color: #383838;

}


/* -------------------Card logo ---------------------*/
 
.dashboard_appilix .sidebar .manu .top_menu .card_1 .card_logo{
    background: url(Images/elements\ \(1\).svg) no-repeat center; 

}

.dashboard_appilix .sidebar .manu .top_menu .card_2 .card_logo{
    background: url(Images/elements\ \(2\).svg) no-repeat center; 

}

.dashboard_appilix .sidebar .manu .top_menu .card_3 .card_logo{
    background: url(Images/elements\ \(3\).svg) no-repeat center; 

}

.dashboard_appilix .sidebar .manu .top_menu .card_4 .card_logo{
    background: url(Images/elements\ \(4\).svg) no-repeat center; 

}

.dashboard_appilix .sidebar .manu .top_menu .card_5 .card_logo{
    background: url(Images/elements\ \(5\).svg) no-repeat center; 

}

.dashboard_appilix .sidebar .manu .top_menu .card_6 .card_logo{
    background: url(Images/elements\ \(6\).svg) no-repeat center; 

}

.dashboard_appilix .sidebar .manu .top_menu .card_7 .card_logo{
    background: url(Images/elements\ \(7\).svg) no-repeat center; 

}

.dashboard_appilix .sidebar .manu .top_menu .card_8 .card_logo{
    background: url(Images/elements\ \(8\).svg) no-repeat center; 

}

.dashboard_appilix .sidebar .manu .top_menu .card_9 .card_logo{
    background: url(Images/elements\ \(9\).svg) no-repeat center; 

}

.dashboard_appilix .sidebar .manu .top_menu .card_10 .card_logo{
    background: url(Images/elements\ \(10\).svg) no-repeat center; 

}

.dashboard_appilix .sidebar .manu .top_menu .card_11 .card_logo{
    background: url(Images/elements\ \(11\).svg) no-repeat center; 

}

.dashboard_appilix .sidebar .manu .bottom_menu .card_12 .card_logo{
    background: url(Images/elements\ \(12\).svg) no-repeat center; 

}

.dashboard_appilix .sidebar .manu .bottom_menu .card_13 .card_logo{
    background: url(Images/elements\ \(13\).svg) no-repeat center; 

}

.dashboard_appilix .sidebar .manu .top_menu .channels{
    margin: 10px 0;
    padding: 3px 5px 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.dashboard_appilix .sidebar .manu .top_menu .channels p{
    font-size: 12px;
    font-weight: 400;
    color: #44444480;
}

.dashboard_appilix .sidebar .manu .top_menu .channels .toggler{
    width: 16px;
    height: 16px;
    background: url(Images/elements\ toggle.svg) no-repeat center;
    cursor: pointer;
}

.dashboard_appilix .sidebar .manu .top_menu .channels .toggler:hover{
    border-radius: 4px;
    border: 1px solid #E8E8E8;
    box-shadow: 0 1px 1px 1px #E8E8E8;

}


.dashboard_appilix .sidebar .manu .top_menu .active, 
.dashboard_appilix .sidebar .manu .bottom_menu .active{
    background-color: #1976681A;
    color: #197668;
    border: 1px solid #19766814;
    
}

.dashboard_appilix .sidebar .manu .top_menu .active:hover, 
.dashboard_appilix .sidebar .manu .bottom_menu .active:hover{
    box-shadow: none;
    
}

.dashboard_appilix .sidebar .manu .bottom_menu{
    border-radius: 8px;
    border-top: 1px solid #E8E8E8 ;
}



/*-------------------------- Main Section ---------------------------*/
.dashboard_appilix .main_appilix{
    width: 100%;
    margin: 10px 10px 10px 0;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    display: flex;
    flex-direction: column;
}


/*--------------------------- Main Section Nav --------------------------*/
.dashboard_appilix .main_appilix .main_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #E8E8E8;
}

.dashboard_appilix .main_appilix .main_nav .nav_left{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dashboard_appilix .main_appilix .main_nav .nav_left h3{
    font-size: 20px;
    font-weight: 500;
    color: #383838;
}

.dashboard_appilix .main_appilix .main_nav .nav_left p{
    font-size: 12px;
    font-weight: 400;
    color: #38383899;
}

.dashboard_appilix .main_appilix .main_nav .nav_right{
    display: flex;
    align-items: center;
    gap: 14px;
}

.dashboard_appilix .main_appilix .main_nav .nav_right .search{
    display: flex;
    gap: 8px;
    
}

.dashboard_appilix .main_appilix .main_nav .nav_right .search .search_bar{
    display: flex;
    gap: 6px;
    padding: 12px 11px;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
}

.dashboard_appilix .main_appilix .main_nav .nav_right .search .search_bar .logo{
    height: 20px;
    width: 20px;
    background: url(Images/search-01.svg) no-repeat center;
}

.dashboard_appilix .main_appilix .main_nav .nav_right .search .search_bar input{
    outline: none;
    border: none;
    font-size: 13px;
    font-weight: 400;
    color: #383838;
}

.dashboard_appilix .main_appilix .main_nav .nav_right .search .search_bar input::placeholder{
    font-size: 13px;
    font-weight: 400;
    color: #38383899;
}

.dashboard_appilix .main_appilix .main_nav .nav_right .search .notification{
    padding: 11px;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
}

.dashboard_appilix .main_appilix .main_nav .nav_right .search .notification .logo{
    height: 20px;
    width: 20px;
    background: url(Images/notification-01.svg) no-repeat center;
}

.dashboard_appilix .main_appilix .main_nav .nav_right .line{
    height: 30px;
    margin: 6px 0;
    border-left: 1px solid #E8E8E8;

}

.dashboard_appilix .main_appilix .main_nav .nav_right .user{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
}

.dashboard_appilix .main_appilix .main_nav .nav_right .user .logo{
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background: url(Images/Avatar\ Image.svg) no-repeat center;
}

.dashboard_appilix .main_appilix .main_nav .nav_right .user .user_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.dashboard_appilix .main_appilix .main_nav .nav_right .user .user_info .name_prof{
    display: flex;
    flex-direction: column;
    gap: auto;
}

.dashboard_appilix .main_appilix .main_nav .nav_right .user .user_info .name_prof p{
    font-size: 14px;
    font-weight: 400;
    color: #202020;
}

.dashboard_appilix .main_appilix .main_nav .nav_right .user .user_info .name_prof span{
    font-size: 12px;
    font-weight: 400;
    color: #38383899;
}

.dashboard_appilix .main_appilix .main_nav .nav_right .user .user_info .icon{
    height: 16px;
    width: 16px;
    background: url(Images/user_icon.svg) no-repeat center;
}

.dashboard_appilix .main_appilix .content{
    display: flex;
    gap: 15px;
    padding: 15px;
    overflow-y: scroll;
    scrollbar-width: none;

}

.dashboard_appilix .main_appilix .content .overview{
    display: flex;
    flex: 1.75;
    flex-direction: column;
    gap: 15px;
}

.dashboard_appilix .main_appilix .content .overview .monthly_overview{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 15px 15px 22px 15px;
    border-radius: 12px;
    border: 1px solid #E8E8E8;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .nav h4{
    font-size: 16px;
    font-weight: 400;
    color: #383838;
}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .nav .right{
    display: flex;
    gap: 30px;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .nav .right .delay{
    display: flex;
    gap: 20px;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .nav .right .delay .in_time,
.dashboard_appilix .main_appilix .content .overview .monthly_overview .nav .right .delay .late{
    display: flex;
    gap: 5px;
    align-items: center;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .nav .right .delay .in_time .logo{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #197668;
    box-shadow: 0 1px 4px 0 #19766880;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .nav .right .delay .late .logo{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #19766859;
    box-shadow: 0 1px 4px 0 #19766840;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .nav .right .delay .in_time p,
.dashboard_appilix .main_appilix .content .overview .monthly_overview .nav .right .delay .late p{
    font-size: 12px;
    font-weight: 400;
    color: #38383880;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .nav .right .month{
    display: flex;
    align-items: center;
    padding: 8px 10px 8px 14px;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    gap: 5px;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .nav .right .month h4{
    font-size: 12px;
    font-weight: 400;
    color: #565656;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .nav .right .month .icon{
    height: 12px;
    width: 12px;
    background: url(Images/month_icon.svg) no-repeat center;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .chart{
    display: flex;
    align-items: end;
    height: 350px;
    gap: 13px;
    padding: 0 7px 0 2px;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .y_axis{
    display: flex;
    flex-direction: column-reverse;
    gap: 45px;
    padding: 0 7px 0 2px;
    position: relative;
    bottom: 40px;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .y_axis p,
.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .month p{
    font-size: 10px;
    font-weight: 400;
    color: #38383899;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram{
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 18px;
    justify-content: space-between;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .month{
    display: flex;
    gap: 10px;
    width: 39px;
    flex-direction: column-reverse;
    align-items: center;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .month .diagram{
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .month .diagram .in_time{
    border-radius: 8px;
    background-color: #F3F3F3;
    width: 39px;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .month .diagram .late{
    border-radius: 8px;
    background-color: #F3F3F3;
    width: 39px;

}


/*---------- Every Month Late and timeing presient height -------------------------*/
.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .jan .diagram .in_time{
    height: 204px;
    background-color: #197668;
    box-shadow: 0 -1px 2.5px 0 #AECFCA;

}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .feb .diagram .in_time{
    height: 179px;
}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .mar .diagram .in_time{
    height: 199px;
}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .apr .diagram .in_time{
    height: 280px;
}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .may .diagram .in_time{
    height: 234px;
}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .jun .diagram .in_time{
    height: 264px;
}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .jul .diagram .in_time{
    height: 204px;
}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .aug .diagram .in_time{
    height: 243px;
}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .sep .diagram .in_time{
    height: 274px;
}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .oct .diagram .in_time{
    height: 291px;
}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .nov .diagram .in_time{
    height: 243px;
}

.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .dec .diagram .in_time{
    height: 232px;
}



.dashboard_appilix .main_appilix .content .overview .monthly_overview .bar_diagram .jan .diagram .late{
    height: 46px;
    background-color: #19766859;
    box-shadow: 0 -1px 6.5px 0 #1164574d;

}

.dashboard_appilix .main_appilix .content .overview .important_note{
    border: 1px solid #E8E8E8;
    border-radius: 12px;
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_nav{
    padding: 15px;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_nav h3{
    font-size: 16px;
    font-weight: 400;
    color: #383838;
    padding-left: 5px;
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_nav .right_side{
    display: flex;
    gap: 8px;
    align-items: center;
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_nav .right_side .search_field,
.dashboard_appilix .main_appilix .content .overview .important_note .note_nav .right_side .calendar{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    background-color: #FBFBFB;
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_nav .right_side .search_field .logo{
    height: 16px;
    width: 16px;
    background: url(Images/Search_2.svg) no-repeat center;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_nav .right_side .search_field input{
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 400;
    color: #383838;
    background-color: transparent;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_nav .right_side .search_field input::placeholder{
    font-size: 12px;
    font-weight: 400;
    color: #38383899;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_nav .right_side .search_field input::placeholder{
    font-size: 12px;
    font-weight: 400;
    color: #38383899;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_nav .right_side .calendar .logo{
    height: 16px;
    width: 16px;
    background: url(Images/calender.svg) no-repeat center;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_nav .right_side .calendar p{
    font-size: 12px;
    font-weight: 400;
    color: #565656;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_text{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #E8E8E8;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_text textarea{
    width: 100%;
    min-height: 130px;
    resize: none;
    scrollbar-width: thin;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: #383838;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_text textarea::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: #38383899;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_text .font_style{
    display: flex;
    gap: 12px;
    padding: 6px 14px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: inset 0 0 2px #ACACAC40 ;
    box-shadow: 0 2px 4px #69696940;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_text .font_style div{
    height: 24px;
    width: 24px;
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_text .font_style .number_list{
    background: url(Images/left-to-right-list-number.svg) no-repeat center;
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_text .font_style .check_box{
    background: url(Images/solid-line-02.svg) no-repeat center;
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_text .font_style .text_bold{
    background: url(Images/text-bold.svg) no-repeat center;
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_text .font_style .text_italic{
    background: url(Images/text-italic.svg) no-repeat center;
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_text .font_style .text_strike{
    background: url(Images/text-strikethrough.svg) no-repeat center;
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_text .font_style .bulet_point{
    background: url(Images/paragraph-bullets-point-02.svg) no-repeat center;
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_details{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 7px 15px;
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_details .date{
    display: flex;
    justify-content: flex-end;
    padding: 8.5px 12px;
    border-radius: 26px;
    background-color: #F9F9F9;
    margin-left: auto;
    border: 1px solid #EEEEEE ;
    box-shadow: inset 0 -2px 2px #8E8E8E26;
    box-shadow:  0 1px 2px #8E8E8E40;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_details .date p{
    font-size: 12px;
    font-weight: 400;
    color: #383838cc;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_details .text{
    display: flex;
    flex-direction: column;
    gap: 22px;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_details .text p{
    font-size: 16px;
    font-weight: 400;
    color: #383838e6;
    
}

.dashboard_appilix .main_appilix .content .overview .important_note .note_details .date{
    
    
}







.dashboard_appilix .main_appilix .content .time_traker{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 15px;

}










